.bar-info{
    max-width: 100%;
    max-width: 100%;
    width: 1730px;
    height: 80px;
    background-color:#5474FD;
    color:white;
    display:flex;
    justify-content:space-around;
    align-items:center;
    position: absolute;
    top: 795px;

}

.bar-title{
    width: 186;
    height: 20;
}


.bar-box1{
    width: 126px;
    height: 20px;
    padding: 20px;
}

.bar-box2{
    width: 128px;
    height: 20px;
    padding:20px;
}

.bar-box3{
    width: 186px;
    height: 20px;
    padding:20px;
}

.bar-box4{
    width: 186px;
    height: 20px;
    padding:20px;
}

.bar-box1:hover {
    background: #94a6f7;
}

.bar-box2:hover {
    background: #94a6f7;
}  

.bar-box3:hover {
    background: #94a6f7;
}

.bar-box4:hover {
    background: #94a6f7;
}

