.foot-bar{
    max-width: 100%;
    max-width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width: 1770px;
    height: 220px;
    color: white;
    background-color: #232323;
}