@charset "UTF-8";
body {
  margin: 70px;
  max-width: 100%;
  max-width: 100%;
  width: 1800px;
  height: 4271px;
}

.berg-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1770px;
  height: 820px;
  background-image: url(../Bilder/berg.png);
  color: white;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar input[type=text] {
  float: right;
  padding: 10px;
  margin-top: 10px;
  width: 300px;
  border: none;
  font-size: 14px;
  text-align: center;
}

button {
  float: left;
  padding: 8px;
  margin-top: 10px;
  font-size: 17px;
  color: white;
  background: #5474FD;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #94a6f7;
}

.berg-scroll-text {
  margin-top: 110px;
}

.bar-info {
  max-width: 1773px;
  height: 83px;
  background-color: #5474FD;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar-title {
  width: 186;
  height: 20;
}

.bar-box1 {
  width: 126px;
  height: 20px;
  padding: 20px;
}

.bar-box2 {
  width: 128px;
  height: 20px;
  padding: 20px;
}

.bar-box3 {
  width: 186px;
  height: 20px;
  padding: 20px;
}

.bar-box4 {
  width: 186px;
  height: 20px;
  padding: 20px;
}

.slott {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1770px;
  height: 820px;
  background-image: url(../Bilder/slott.png);
  color: white;
}

.slott-text-box {
  max-width: 400px;
  position: absolute;
  left: 300px;
  top: 1150px;
}

.slott-title {
  font-size: 36px;
}

.slott-text {
  font-size: 16px;
}

.slott-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slott-sjö {
  position: absolute;
  width: 350px;
  height: 220px;
  padding: 5px;
  left: 953px;
  top: 1100px;
}

.slott-berg {
  position: absolute;
  width: 350px;
  height: 220px;
  padding: 5px;
  left: 1050px;
  top: 1330px;
}

.hus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1770px;
  height: 700px;
  background-image: url(../Bilder/hus.png);
  color: white;
}

.hus-text-box {
  background-color: #232323d7;
  max-width: 543px;
  height: 320px;
  position: absolute;
  left: 356px;
  top: 2055px;
  padding: 20px;
  font-size: 20px;
}

.solnedgång {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1770px;
  height: 700px;
  background-image: url(../Bilder/solnedgång.png);
  color: white;
}

.solnedgång-text-box {
  background-color: #232323d7;
  max-width: 543px;
  height: 320px;
  position: absolute;
  left: 967px;
  top: 2755px;
  padding: 20px;
  font-size: 20px;
}

.man {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1770px;
  height: 720px;
  background-image: url(../Bilder/man-vänster.png);
  color: white;
}

.man-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232323;
  width: 1000px;
  height: 280px;
  position: absolute;
}

.man-title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10px;
}

.foot-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1770px;
  height: 220px;
  color: white;
  background-color: #232323;
}